.movie-card {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 2px silver;
  display: flex;
  margin: 0.5rem;
  border-radius: 0.25rem;
  overflow: hidden;

  &__thumbnail {
    width: 5rem;
  }

  &__content {
    padding: 0.5rem;
  }
  &__text {
    border-top: 1px solid #ddd;
    width: 100%;
    margin: 0.25rem 0;
  }
}
