.overview {
  background-color: white;

  &__title {
    background-color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  &__details {
    background-color: #222;
    color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
  }

  &__main-content {
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    box-shadow: inset 1px 2px 20px rgba(0, 0, 0, 0.5);
  }

  &__genre {
    // background-color: gray;
  }
  &__date {
    // background-color: aqua;
  }
  &__runtime {
    // background-color: cadetblue;
  }
  &__vote {
    // background-color: burlywood;
  }

  &__overview {
    padding: 1rem;
    flex: 100%;
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    padding: 0.25rem 0.5rem;
  }

  &__image-div {
    background-color: #444;
    display: flex;
    justify-content: center;

    box-shadow: inset 1px 2px 20px rgba(0, 0, 0, 0.5);
  }
  &__image {
    width: 50%;
    // width: 50%;
    // height: 50%;
  }
}
